@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 246 100% 97%; /* #f6f7f8 */
    --foreground: 222 47% 11%;
  }
}

@layer components {
  .glass-panel {
    @apply bg-white/90 backdrop-blur-md border border-white/20 shadow-xl;
  }
}
